body, html{
  margin: 0.5%;
  padding: 0%;
}

html>body .sort li { 
  height: auto;
  overflow: ellipsis;
  line-height: 1.2em; 
}

.container {
  width: 100%;
}
/* To the left (Signup | login) */
#login, #signup {
  float: right;
}


/* sortable */
.ui-state-highlight { 
  height: 1.5em; 
  line-height: 1.2em; 
  background: #E6F2FF;
  border: none;
} 

.sort { 
  list-style-type: none;
  margin: 0; 
  padding: 0; 
  width: 60%; 
}

.content ul{
  width: 95%;
}

.sort li {
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  font-size: 1.2em; 
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  height: 30px;
  white-space: nowrap;
}

.lists-container li, .tasks-container li {
  /* efeito de transição */
  transition: border-left ease-in-out 250ms;
  -webkit-transition: border-left ease-in-out 250ms;
  -moz-transition: border-left ease-in-out 250ms;
  -o-transition: border-left ease-in-out 250ms;
  -ms-transition: border-left ease-in-out 250ms;

  border-left: 4px solid transparent;
  border-bottom: 1px solid #f7f7f7;
}

.lists-container li:active, .tasks-container li:active {
  cursor: pointer;
}

.lists-container li:hover, .tasks-container li:hover {
  border-left: 4px solid #6699FF;
}

.lists-container li .actions{
  transition: opacity ease-in-out 250ms;
  -webkit-transition: opacity ease-in-out 250ms;
  -moz-transition: opacity ease-in-out 250ms;
  -o-transition: opacity ease-in-out 250ms;
  -ms-transition: opacity ease-in-out 250ms;

  text-transform: uppercase;
  opacity: 0;
  position: relative;
  bottom: 2px;
  left: 2px;
  display: block;
}

.lists-container li .actions .dot {
  padding: 0 5px;
  display: inline-block;
  height: 14px;
  color: #cdcdcd;  
}

span.actions{
  position: relative;
  bottom: 2px;
  left: 2px;
  display: none;
  opacity: 0;
}


.lists-container li .actions a {
  font-size: 10px;
}

.lists-container li:hover .actions {
  opacity: 1;
}
