<%= form_for :post do |f| %>
  <p>
    <%= f.label :name_list %><br>
    <%= f.text_field :name_list %>
  </p>
 
  <p>
   <h1>Aqui ficará a lista de itens</h1>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>